<!-- Begin page -->
<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <app-navbar></app-navbar>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
      <div class="content">
        <!-- Topbar Start -->

        <app-topbar></app-topbar>
        <!-- end Topbar -->
      </div>

    </div>



</div>

<router-outlet></router-outlet>
