<!-- Begin page -->
<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <app-navbar></app-navbar>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

      <!-- content -->
      <div class="content">

        <!-- Topbar Start -->
        <app-topbar></app-topbar>
        <!-- end Topbar -->

        <!-- Start Content-->
        <router-outlet></router-outlet>
        <!-- End container -->

      </div>
      <!-- content -->

      <!-- Footer Start -->
      <app-footer></app-footer>
      <!-- end Footer -->

    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

